blinker
click
colorama
exceptiongroup
Flask
importlib-metadata
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
PyJWT
pytest
python-decouple
python-dotenv
pytz
tomli
Werkzeug
zipp
pymysql
cryptography
flask-cors